In [1]:
import pandas as pd

In [2]:
s1 = pd.read_csv('pytorch/linear/toxic_test_scores.csv')
s2 = pd.read_csv('pytorch/linear/severe_toxic_test_scores.csv')
s3 = pd.read_csv('pytorch/linear/obscene_test_scores.csv')
s4 = pd.read_csv('pytorch/linear/insult_test_scores.csv')
s5 = pd.read_csv('pytorch/linear/threat_test_scores.csv')
s6 = pd.read_csv('pytorch/linear/identity_hate_test_scores.csv')

In [3]:
s1.head()

                 id     toxic
0  00001cee341fdb12  0.999998
1  0000247867823ef7  0.225699
2  00013b17ad220c46  0.335064
3  00017563c3f7919a  0.025365
4  00017695ad8997eb  0.271998

In [4]:
sum(s1.id == s2.id), sum(s2.id == s3.id), sum(s3.id == s4.id), sum(s4.id == s5.id), sum(s5.id == s6.id)

(153164, 153164, 153164, 153164, 153164)

In [10]:
linear_scores = pd.concat([s1, 
                           s2['severe_toxic'],
                          s3['obscene'],
                          s4['insult'],
                          s5['threat'],
                          s6['identity_hate']], axis=1)

In [11]:
linear_scores.head()

,id,toxic,severe_toxic,obscene,insult,threat,identity_hate
0,00001cee341fdb12,0.999998,0.999996,0.999999,0.999999,0.999979,0.999995
1,0000247867823ef7,0.225699,0.684684,0.314544,0.326961,0.890082,0.712592
2,00013b17ad220c46,0.335064,0.768251,0.442801,0.456431,0.914047,0.788714
3,00017563c3f7919a,0.025365,0.192243,0.037925,0.040105,0.523204,0.217594
4,00017695ad8997eb,0.271998,0.704696,0.370162,0.383044,0.885263,0.728560

In [12]:
linear_scores.to_csv('pytorch/linear/linear_test_scores.csv', index=False)

In [13]:
sh1 = pd.read_csv('pytorch/single/toxic_test_scores.csv')
sh2 = pd.read_csv('pytorch/single/severe_toxic_test_scores.csv')
sh3 = pd.read_csv('pytorch/single/obscene_test_scores.csv')
sh4 = pd.read_csv('pytorch/single/insult_test_scores.csv')
sh5 = pd.read_csv('pytorch/single/threat_test_scores.csv')
sh6 = pd.read_csv('pytorch/single/identity_hate_test_scores.csv')

In [14]:
sum(sh1.id == sh2.id), sum(sh2.id == sh3.id), sum(sh3.id == sh4.id), sum(sh4.id == sh5.id), sum(sh5.id == sh6.id)

(153164, 153164, 153164, 153164, 153164)

In [15]:
single_scores = pd.concat([sh1,  
                           sh2['severe_toxic'],
                          sh3['obscene'],
                          sh4['insult'],
                          sh5['threat'],
                          sh6['identity_hate']], axis=1)

In [16]:
single_scores.head()

,id,toxic,severe_toxic,obscene,insult,threat,identity_hate
0,00001cee341fdb12,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,0000247867823ef7,0.071120,0.344119,0.160174,0.085153,0.673889,0.416635
2,00013b17ad220c46,0.220334,0.558314,0.294140,0.387319,0.773055,0.647399
3,00017563c3f7919a,0.001830,0.000878,0.001543,0.002514,0.006703,0.002969
4,00017695ad8997eb,0.103614,0.475567,0.184892,0.244158,0.714772,0.480680

In [17]:
single_scores.to_csv('pytorch/single/single_test_scores.csv', index=False)

In [6]:
def make_sub(folder, outfile):

    df1 = pd.read_csv('pytorch/'+folder+'/toxic_test_scores.csv')
    df2 = pd.read_csv('pytorch/'+folder+'/severe_toxic_test_scores.csv')
    df3 = pd.read_csv('pytorch/'+folder+'/obscene_test_scores.csv')
    df4 = pd.read_csv('pytorch/'+folder+'/insult_test_scores.csv')
    df5 = pd.read_csv('pytorch/'+folder+'/threat_test_scores.csv')
    df6 = pd.read_csv('pytorch/'+folder+'/identity_hate_test_scores.csv')
    
    print(sum(df1.id == df2.id), sum(df2.id == df3.id), sum(df3.id == df4.id), sum(df4.id == df5.id), sum(df5.id == df6.id)) 
    
    scores = pd.concat([df1,  
                        df2['severe_toxic'],
                        df3['obscene'],
                        df4['insult'],
                        df5['threat'],
                        df6['identity_hate']], axis=1)

    scores.to_csv(outfile, index=False)

In [15]:
make_sub('glove_mean', 'pytorch/glove_mean/glove_mean_test_scores.csv')

153164 153164 153164 153164 153164

In [13]:
df1 = pd.read_csv('pytorch/glove_mean/toxic_test_scores.csv')

In [14]:
df1

                      id     toxic
0       00001cee341fdb12  0.032016
1       0000247867823ef7  0.083070
2       00013b17ad220c46  0.999191
3       00017563c3f7919a  0.617919
4       00017695ad8997eb  0.040485
5       0001ea8717f6de06  0.020045
6       00024115d4cbde0f  0.164702
7       000247e83dcc1211  0.031524
8       00025358d4737918  0.041107
9       00026d1092fe71cc  0.982952
10      0002eadc3b301559  0.099739
11      0002f87b16116a7f  0.886180
12      0003806b11932181  0.053360
13      0003e1cccfd5a40a  0.007363
14      00059ace3e3e9a53  0.035718
15      000634272d0d44eb  0.115743
16      000663aff0fffc80       NaN
17      000689dd34e20979       NaN
18      000834769115370c       NaN
19      000844b52dee5f3f       NaN
20      00084da5d4ead7aa       NaN
21      00091c35fa9d0465       NaN
22      000968ce11f5ee34       NaN
23      0009734200a85047       NaN
24      00097b6214686db5       NaN
25      0009aef4bd9e1697       NaN
26      000a02d807ae0254       NaN
27      000a6c6d4e89b9bc       NaN
28      000bafe2080bba82       NaN
29      000bf0a9894b2807       NaN
...                  ...       ...
153134  fff3ae2e177b6bb3       NaN
153135  fff4109e837f7acc       NaN
153136  fff4373a81ef9f2a       NaN
153137  fff460574ddbcd80       NaN
153138  fff4fc0a1555be5c       NaN
153139  fff5b9bb944d634c       NaN
153140  fff5c4a77fe0c05f       NaN
153141  fff5fb61bd637c82       NaN
153142  fff69311f306df44       NaN
153143  fff6ad63666fb304       NaN
153144  fff7159b3ee95618       NaN
153145  fff718ffe5f05559       NaN
153146  fff7fc22a0cdccd3       NaN
153147  fff83b80284d8440       NaN
153148  fff8ef316d0c6990       NaN
153149  fff8f521a7dbcd47       NaN
153150  fff8f64043129fa2       NaN
153151  fff9d70fe0722906       NaN
153152  fff9fa508f400ee6       NaN
153153  fffa3fae1890b40a       NaN
153154  fffa8a11c4378854       NaN
153155  fffac2a094c8e0e2       NaN
153156  fffb5451268fb5ba       NaN
153157  fffc2b34bbe61c8d       NaN
153158  fffc489742ffe69b       NaN
153159  fffcd0960ee309b5       NaN
153160  fffd7a9a6eb32c16       NaN
153161  fffda9e8d6fafa9e       NaN
153162  fffe8f1340a79fc2       NaN
153163  ffffce3fb183ee80       NaN

[153164 rows x 2 columns]