In [1]:
import pandas as pd

In [3]:
s1 = pd.read_csv('pytorch/linear/toxic_linear_test_scores.csv')
s2 = pd.read_csv('pytorch/linear/severe_toxic_linear_test_scores.csv')
s3 = pd.read_csv('pytorch/linear/obscene_linear_test_scores.csv')
s4 = pd.read_csv('pytorch/linear/insult_linear_test_scores.csv')
s5 = pd.read_csv('pytorch/linear/threat_linear_test_scores.csv')
s6 = pd.read_csv('pytorch/linear/identity_hate_linear_test_scores.csv')

In [4]:
s1.head()

                 id     toxic
0  00001cee341fdb12  0.999999
1  0000247867823ef7  0.197854
2  00013b17ad220c46  0.266559
3  00017563c3f7919a  0.001850
4  00017695ad8997eb  0.292616

In [9]:
sum(s1.id == s2.id), sum(s2.id == s3.id), sum(s3.id == s4.id), sum(s4.id == s5.id), sum(s5.id == s6.id)

(153164, 153164, 153164, 153164, 153164)

In [15]:
linear_scores = pd.concat([s1, 
                           s2.toxic,
                          s3.toxic,
                          s4.toxic,
                          s5.toxic,
                          s6.toxic], axis=1)

linear_scores.columns = ['id','toxic','severe_toxic','obscene','insult','threat','identity_hate']

In [16]:
linear_scores.head()

,id,toxic,severe_toxic,obscene,insult,threat,identity_hate
0,00001cee341fdb12,0.999999,0.999997,0.999999,0.999999,0.999983,0.999996
1,0000247867823ef7,0.197854,0.644453,0.276673,0.287925,0.881224,0.675638
2,00013b17ad220c46,0.266559,0.705742,0.357302,0.369470,0.900061,0.732070
3,00017563c3f7919a,0.001850,0.017488,0.002517,0.002646,0.164654,0.021547
4,00017695ad8997eb,0.292616,0.711454,0.388788,0.401038,0.887595,0.734693

In [17]:
linear_scores.to_csv('pytorch/linear/linear_test_scores.csv', index=False)

In [18]:
sh1 = pd.read_csv('pytorch/linear/toxic_single_test_scores.csv')
sh2 = pd.read_csv('pytorch/linear/severe_toxic_single_test_scores.csv')
sh3 = pd.read_csv('pytorch/linear/obscene_single_test_scores.csv')
sh4 = pd.read_csv('pytorch/linear/insult_single_test_scores.csv')
sh5 = pd.read_csv('pytorch/linear/threat_single_test_scores.csv')
sh6 = pd.read_csv('pytorch/linear/identity_hate_single_test_scores.csv')

In [19]:
sum(sh1.id == sh2.id), sum(sh2.id == sh3.id), sum(sh3.id == sh4.id), sum(sh4.id == sh5.id), sum(sh5.id == sh6.id)

(153164, 153164, 153164, 153164, 153164)

In [20]:
single_scores = pd.concat([sh1, 
                           sh2.toxic,
                          sh3.toxic,
                          sh4.toxic,
                          sh5.toxic,
                          sh6.toxic], axis=1)

single_scores.columns = ['id','toxic','severe_toxic','obscene','insult','threat','identity_hate']

In [21]:
single_scores.head()

,id,toxic,severe_toxic,obscene,insult,threat,identity_hate
0,00001cee341fdb12,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000,1.000000
1,0000247867823ef7,1.121846e-02,0.089556,6.150166e-03,0.043331,0.371839,0.083099
2,00013b17ad220c46,3.961322e-02,0.215463,1.157058e-01,0.068078,0.481506,0.183616
3,00017563c3f7919a,4.446747e-10,0.000014,3.391366e-07,0.000026,0.000012,0.000011
4,00017695ad8997eb,1.194507e-01,0.333364,2.169986e-01,0.158481,0.679748,0.404628

In [22]:
single_scores.to_csv('pytorch/linear/single_test_scores.csv', index=False)